# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.

# python-dotenv==0.11.0
alog~=1.2.0
click~=8.1.7
dateparser~=1.2.0
get-docker-secret
moment~=0.12.1
notebook==6.5.6
pipdeptree
prisma
redis-collections
redis~=5.0.4
selenium~=4.19.0
setuptools~=65.5.0
webdriver-manager